<main class="container">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Hi {{ playerName }}</a>
        <button 
            (click)="navigateToHome()" 
            class="btn btn-outline-success my-2 my-sm-0" >Go back</button>
    </nav>
    <section>
        <div>Score: {{ score }}</div>
        <app-select-item [item]="'Papel'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
        <app-select-item [item]="'Piedra'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
        <app-select-item [item]="'Tijera'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
        <div>
            <p>Your selection: {{ playerSelection }}</p>
            <p>Computer selection: {{ computerSelection }}</p>
            <p>{{ result }}</p>
        </div>
        <button>Reset</button>
    </section>
</main>
