<main class="container">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Hi {{ playerName }}</a>
        <button 
            (click)="navigateToHome()" 
            class="btn btn-outline-success my-2 my-sm-0" >Exit</button>
    </nav>
    <section>
        <article class="score h2">
            <p>Score: {{ score }} / {{ totalGames }}</p>
        </article>
        <article class="selection">
            <app-select-item [item]="'rock'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
            <app-select-item [item]="'paper'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
            <app-select-item [item]="'scissors'" (itemEventEmitter)="setPlayerSelection($event)"></app-select-item>
        </article>
        <article>
            <p>Your selection: {{ playerSelection }}</p>
            <p>Computer selection: {{ computerSelection }}</p>
            <p>{{ result }}</p>
        </article>
        <article>
            <button 
                class="btn btn-outline-success"
                (click)="resetScore()">Reset
            </button>
        </article>
    </section>
</main>
