<main class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text h1">
            Create a new player
        </span>
      </nav>

    <form autocomplete="off" (ngSubmit)="navigateToGame(player)" #player="ngForm">
            <input 
                class="form-control"
                [class.is-invalid]="(playerName.invalid && playerName.touched) || (playerName.invalid && player.submitted)"
                type="text"
                name="playerName"
                ngModel
                placeholder="Player Name"
                required
                minlength="3"
                #playerName="ngModel"
                >
            <small 
                *ngIf="(playerName.invalid && playerName.touched) || (playerName.invalid && player.submitted)"
                class="form-text text-danger"
                >Type at least 3 letters</small>

            <button type="submit"
                class="btn btn-outline-success">Join</button>
     
    </form> 
</main>
